.dashboard-container {
  margin-top: 20px;
  max-width: 100%;
}

.dashboard-container h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.filter-modal {
  background-color: #c1bebe;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

.filter-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.modal-header-title, 
.modal-header-title-add {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.modal-header-title-add {
  margin-left: 15px;
}

.modal-header-title-filter {
  margin-right: 15px; 
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #333;
  font-size: 1.2rem;
  transition: transform 0.1s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.filter-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filter-options.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  justify-items: center;
  align-items: center;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: #333;
}

.add-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.add-option-column {
  display: flex;
  justify-content: center;
}

.add-option-button {
  font-size: 15px;
  width: 145px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-option-button:hover {
  background-color: #e0e0e0;
}

.add-option-button svg {
  margin-right: 12px;
}